.contenedorAcercaDeMi{
    width: 100%;
    height: auto;
    background: rgb(255, 255, 255);
}

.contenedortituloacercademi{
display: flex;
justify-content: center;
width: auto;
padding-top: 42px;
}

.contenedortituloacercademi h1{
    height: 50px;
    color: #05182A;
    font-family: verdana;
    border-bottom: 3px solid #05182A;
    margin-left: auto;
    margin-right: auto;
}

.contenedorinformacion{
    padding-top: 30px;
    align-items: center;
    display: flex;
    padding-bottom: 42px;
}

.estiloimagenperfil{
    width: auto;
    height: auto;
    justify-content: center;
    display: flex;
}

.acercademitexto{
    font-family: verdana;
    align-items: center;
    padding-bottom: 40px;
    display: flex;
}

@media screen and (min-width: 280px) and (max-width: 767px)  {
    .contenedorinformacion{
        flex-direction: column;
    }

    .estiloimagenperfil{
        width: 180px;
        padding-bottom: 10px;       
    }

    .acercademitexto{
        width: 250px;
        font-size: 15px;
        margin-left: auto;
        margin-right: auto;
    }
}
  
@media screen and (min-width: 768px) {
    .contenedorinformacion{
        flex-direction:row;
        justify-content: center;
    }

    .estiloimagenperfil{
        width: 300px;
        padding-right: 50px;
    }

    .acercademitexto{
        width: 500px;
        justify-content: center;
        font-size: 20px;
    }
  }
  